<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Street Figth</title>
  </head>
  <body>
    <div class="fighters">
        {{#each users}}
            <div class="fighter">
              <img src="{{this.source}}" alt=""> 
              <p>{{this.name}}</p>
            </div>
        {{/each}}
    </div>
  </body>
</html>